@{
    ViewData["Title"] = "Create product";
}
@using WebAppMVC.Entity
@model Item
<h1>Create Brand nuovo prodotto</h1>
<h3>Compila il form con i dati richiesti</h3>
<form asp-action="CreateProduct" asp-controller="Item" method="post"
    class="d-flex flex-column gap-2 col-12 col-md-6 mt-5">
    <label asp-for="ProductName" class="form-label">Nome prodotto</label>
    <input type="text" asp-for="ProductName" placeholder="Nome prodotto" class="form-control" />
    <span asp-validation-for="ProductName" class="text-danger"></span>
    <label asp-for="Description" class="form-label">Descrizione</label>
    <textarea rows="4" cols="50" asp-for="Description" placeholder="Descrizione" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <label asp-for="ProductImageString" class="form-label">url immagine</label>
    <input type="text" asp-for="ProductImageString" placeholder="url immagine" class="form-control" />
    <span asp-validation-for="ProductImageString" class="text-danger"></span>
    <label asp-for="Brand" class="form-label">Brand</label>
    <input type="text" asp-for="Brand" placeholder="Brand" class="form-control" />
    <span asp-validation-for="Brand" class="text-danger"></span>
    <label asp-for="CategoryId" class="form-label">Category</label>
    <select asp-for="CategoryId" class="form-control">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.Id">@category.CategoryName</option>
        }
    </select>

    <label asp-for="FullPrice" class="form-label">FullPrice</label>
    <input type="number" min="1" asp-for="FullPrice.Amount" placeholder="FullPrice" class="form-control" />
    <span asp-validation-for="FullPrice" class="text-danger"></span>
    <label asp-for="Discount" class="form-label">Discount</label>
    <input type="number" min="0" asp-for="Discount.Amount" placeholder="Discount" class="form-control" />
    <span asp-validation-for="Discount" class="text-danger"></span>
    <button type="submit">Crea</button>
</form>