@{
    ViewData["Title"] = "Login";
}

@using WebAppMVC.Entity
@model Users

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <!-- Mostra messaggi di errore generici (es. login fallito) -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
