@{
    ViewData["Title"] = "Home Page";
}



@* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

<div class="container-fluid hero">

    <div class="text-content text-start p-3">
        <h2 class="display-4 fs-2">Non farti trovare impreparato nella tua prossima avventura !</h2>
        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quibusdam dolores minima
            perspiciatis ipsum
            sequi neque qui? Necessitatibus quia numquam, autem velit illo beatae suscipit porro dolores illum esse
            consequuntur!</p>
    </div>
</div>
<div class="container">
    <h2>testo</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam in officiis modi esse tenetur quas reiciendis
        iste enim necessitatibus cupiditate, itaque totam sapiente natus porro, error numquam ab est. Dignissimos.</p>
</div>
